
<div style="float:right"><a href="/"><-- back</a></div>
<h2><a href="/">berlin events / about</a></h2>
<p>
  This site collects events from facebook pages in berlin in order to make them easy to scan through.
  Since tags are automatically applied from the source page rather than the event, they're not always accurate.
  Events marked "new" were copied to the site in the last 24 hours.
</p>
<p>
  The site is built in node.js and hosted on heroku, the code is open and available at <a href="https://github.com/jackaperkins/eventizer">github</a>
</p>
We source events from the following facebook pages:<Br><br>
{{#each pages}}
<span class="tag tag-{{tag.name}}">{{tag.name}}</span><a href="http://facebook.com/{{fbid}}">{{title}}</a><br>
{{/each}}
