
<div style="float:right"><a href="/"><-- back</a></div>
<h2>berlin events / source pages</h2>
We source events from the following facebook pages:<Br><br>
{{#each pages}}
<span class="tag tag-{{tag.name}}">{{tag.name}}</span><a href="http://facebook.com/{{fbid}}">{{title}}</a><br>
{{/each}}
